<style>
table { min-width: 200px; }

tbody div{
    overflow:scroll;
    height:100px;
}
#style-2::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 1px;
            background-color: #F5F5F5;
        }

        #style-2::-webkit-scrollbar
        {
            width: 12px;
            background-color: #989898;
        }

        #style-2::-webkit-scrollbar-thumb
        {
            border-radius: 1px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #989898;
        }


table {
    border-collapse: collapse;
    width: 300px;
    overflow-x: scroll;
    display: block;
}
thead {
    background-color: #EFEFEF;
}
thead, tbody {
    display: block;
}
tbody {
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto!important;
}
td, th {
    min-width: 170px;
    max-width: 170px;
    height: 25px;
     border: dashed 1px lightblue;
     font-size: 14px;
}
</style>
<!-- <div class="pull-right" style="margin-bottom:10px"><button ng-click="addCompanySegmentPage()" ng-show="dashboardModel.userTypeId==1" type="button" class="btn btn-primary btn-med">Edit Company Segment</button></div>
<h2 class="span9" style="margin-left:0px">Segment Dashboard (USD in millions)
        
        <div class="btn-group span4 pull-right">
          <button type="button" class="btn btn-primary btn-sm" ng-click="changeSegView(1)">%</button>
          <button type="button" class="btn btn-primary btn-sm" ng-click="changeSegView(2)">$</button>
        </div>
</h2> -->
<!-- <div class="btn-atrr">
<div class="add-new"><a href="" ng-click="addCompanySegmentPage()" ng-show="dashboardModel.userTypeId==1" ><img src="/browser_components/images/bttnAdd.png" alt="img"/></a></div>
<div class="switch-button">
    <a  href="" ng-click="changeSegView(2)"><img class="btn-percent" ng-src="{{dashboardModel.spercentActive}}" alt="#"/></a>
    <a  href="" ng-click="changeSegView(1)"><img class="btn-usd" ng-src="{{dashboardModel.sdollarActive}}" alt="#"/></a>
</div>
</div> -->

<div style=" width: 100%;overflow: auto;text-align:center" id="style-2">
    <!-- <img ng-show="dashboardModel.loading" ng-src="/browser_components/images/ajax-loader.gif" alt="img"/> -->
<table class="table table-striped">
    <thead>
        <th ng:click="sorder('company_name','segment')" ng:class="selectedCls('company_name')">Company Name</th>
        <!-- <th ng-repeat="rHead in dashboardModel.revenues" ng:click="changeSorting(checkIndexs(rHead.id))" ng:class="selectedCls(checkIndexs(rHead.id))" >{{rHead.name}}</th> -->
        <th ng-repeat="rHead in dashboardModel.revenues" ng:click="sorder(checkIndexs(rHead.id),'segment')" ng:class="selectedCls(checkIndexs(rHead.id))">{{rHead.name}}</th>
    </thead>
    <tbody style="height:100px;"id="style-2">
    <tr ng-repeat="revenue in dashboardModel.companies_revenue | pagination : (dashboardModel.currentPage)*(dashboardModel.itemsPerPage) | limitTo: dashboardModel.itemsPerPage track by $index">
        <td>{{revenue.company_name}}</td>
        <td ng-repeat="rBody in dashboardModel.revenues">
            <span><span ng-show="dashboardModel.segmentViewFlag==1 && revenue[checkIndexs(rBody.id)] > 0">$</span>{{((revenue[checkIndexs(rBody.id)])>0)?(revenue[checkIndexs(rBody.id)]|number:1):'-'}}<span ng-show="dashboardModel.segmentViewFlag==2 && revenue[checkIndexs(rBody.id)] > 0">%</span></span> 
            
        </td>
    </tr>
    </tbody>
</table>
</div>
<div class="pagination-div">
<ul class="pagination">
      <li ng-class="tab4DisablePrevPage()">
        <a href ng-click="tab4prevPage()">« Prev</a>
      </li>
      <!-- <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
        <a href="" ng-click="setPage(n)" >{{n+1}}</a>
      </li> -->
      <li ng-class="tab4DisableNextPage()">
        <a href ng-click="tab4nextPage()">Next »</a>
         
      </li>
    </ul>
</div>
</div>
<script type="text/javascript">
$('table').on('scroll', function () {
    $("table > *").width($("table").width() + $("table").scrollLeft());
});
</script>




