<div id="main" style="background-color:#fff!important">
    <div class="row">
    <div class="col-md-12"><h1 class="page-header col-md-12" style="border:0px">Settings</h1></div>
<div class="col-md-12">
    <div class="col-md-2">
        <ul class="nav nav-tabs tabs-left" id="myTab">
            <!-- <li ng-class="selectedTab==1?'active':''" ><a href="" ng-click="setTab(1)">Revenue Range</a></li>
            <li ng-class="selectedTab==2?'active':''" ><a href="" ng-click="setTab(2)">Percent Range</a></li>
            <li ng-class="selectedTab==3?'active':''" ><a href="" ng-click="setTab(3)">Currency</a></li>
            <li ng-class="selectedTab==4?'active':''" ><a href="" ng-click="setTab(4)">Currency Yearly Values</a></li> -->
            <li ng-class="selectedTab==5?'active':''" ><a href="" ng-click="setTab(5)">Country</a></li>
            <li ng-class="selectedTab==6?'active':''" ><a href="" ng-click="setTab(6)">City</a></li>
            <li ng-class="selectedTab==7?'active':''" ><a href="" ng-click="setTab(7)">State</a></li>
            <li ng-class="selectedTab==8?'active':''" ><a href="" ng-click="setTab(8)">Region</a></li>
            <li ng-class="selectedTab==9?'active':''" ><a href="" ng-click="setTab(9)">Classfication</a></li>
            <li ng-class="selectedTab==18?'active':''" ><a href="" ng-click="setTab(18)">Company Type</a></li>
            <li ng-class="selectedTab==10?'active':''" ><a href="" ng-click="setTab(10)">Confidence Level</a></li>
            <li ng-class="selectedTab==11?'active':''" ><a href="" ng-click="setTab(11)">NDA</a></li>
            <li ng-class="selectedTab==16?'active':''" ><a href="" ng-click="setTab(16)">Analyst</a></li>
            <li ng-class="selectedTab==17?'active':''" ><a href="" ng-click="setTab(17)">Status</a></li>
            <!-- <li ng-class="selectedTab==12?'active':''" ><a href="" ng-click="setTab(12)">Revenue Dashboard</a></li> -->
            <li ng-class="selectedTab==13?'active':''" ><a href="" ng-click="setTab(13)">Geo Dashboard</a></li>
            <li ng-class="selectedTab==14?'active':''" ><a href="" ng-click="setTab(14)">Segment Dashboard</a></li>
            <li ng-class="selectedTab==15?'active':''" ><a href="" ng-click="setTab(15)">Add Users</a></li>
        </ul>
    </div>

    <div class="col-md-10" style="margin-left:0px">
            <div class="tab-content" style="min-height: 750px;">
            <!-- <div  ng-include src="'partials/revenueRanges.html'" ng-show="selectedTab==1"></div>
            <div  ng-include src="'partials/percent.html'" ng-show="selectedTab==2"></div>
            <div  ng-include src="'partials/currency.html'" ng-show="selectedTab==3"></div>
            <div  ng-include src="'partials/currencyValues.html'" ng-show="selectedTab==4"></div> -->
            <div  ng-include src="'partials/country.html'" ng-show="selectedTab==5"></div>
            <div  ng-include src="'partials/city.html'" ng-show="selectedTab==6"></div>
            <div  ng-include src="'partials/state.html'" ng-show="selectedTab==7"></div>
            <div  ng-include src="'partials/region.html'" ng-show="selectedTab==8"></div>
            <div  ng-include src="'partials/classification.html'" ng-show="selectedTab==9"></div>
            <div  ng-include src="'partials/confidenceLevel.html'" ng-show="selectedTab==10"></div>
            <div  ng-include src="'partials/nda.html'" ng-show="selectedTab==11"></div>
            <!-- <div  ng-include src="'partials/growth.html'" ng-show="selectedTab==12"></div> -->
            <div  ng-include src="'partials/geo.html'" ng-show="selectedTab==13"></div>
            <div  ng-include src="'partials/revenue.html'" ng-show="selectedTab==14"></div>
            <div  ng-include src="'partials/user.html'" ng-show="selectedTab==15"></div>
            <div  ng-include src="'partials/analyst.html'" ng-show="selectedTab==16"></div>
            <div  ng-include src="'partials/status.html'" ng-show="selectedTab==17"></div>
            <div  ng-include src="'partials/companyType.html'" ng-show="selectedTab==18"></div>
            </div>
    </div>
</div>

</div>
</div>

